.login-box
  .login-logo
    a href="/"
      b e
      | Resto

  .login-box-body
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group.has-feedback
        = f.input :email, required: false, autofocus: true, class: 'form-control', placeholder: 'Email', label: false
        span.glyphicon.glyphicon-envelope.form-control-feedback
      .form-group.has-feedback
        = f.input :password, required: false, class: "form-control", placeholder: "Password", label: false
        span.glyphicon.glyphicon-lock.form-control-feedback
      .row
        - if devise_mapping.rememberable?
          .col-xs-8
            .checkbox.icheck
              label
                input type="checkbox" name="user[remember_me]"
                | &nbsp;Remember Me
        .col-xs-4
          button.btn.btn-primary.btn-block.btn-flat type="submit" Sign In

    / = render "users/shared/links"
