<div class="row">
  <div class="col-md-8" style="margin-left: 10px; margin-top: 10px;">
    <ul id="conversations-list" style="padding-left: 0px; list-style: none;">
      <% @conversations.each do |conversation| %>
        <%= render 'conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3" style="margin-top: 10px; margin-left: 40px;">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User list</h3>
      </div>
      <div class="panel-body">
        <ul style="padding-left: 0px; list-style: none;">
          <% @users.each do |user| %>
            <li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>