= simple_form_for(@server, url: url) do |f|
  = f.error_notification
  .box-body
    .col-md-6
      = f.input :name
    .col-md-6
      = f.input :email
    .col-md-6
      = f.input :dns
    .col-md-6
      = f.input :username
    .col-md-6
      = f.input :password
      - if not f.object.password.blank?
        small = link_to 'Show Password', 'javascript:void(0)', id: 'togglePasswordLink', data: {password: f.object.decrypted_password}
    .col-md-6     
      = f.input :branch
    .col-md-6 
      = f.input :path
    .col-md-6 
      = f.input :port
    .col-md-6 
      = f.input :web_server
    .col-md-6 
      = f.input :api_url
    .col-md-6 
      = f.input :api_url_super_admin
    .col-md-6 
      = f.input :super_admin_password, as: :text
    .col-md-6 
      = f.input :super_admin_username
    .col-md-8 
      - if @server.map_route.present?
        = f.input :map_route, disabled: true
      - else
        = f.input :map_route, disabled: false
    .col-md-4 
      = f.input :client_image
    .col-md-2 
      = f.input :is_cloud, as: :radio_buttons
      = f.input :is_paid, as: :boolean, checked_value: true, unchecked_value: false
      = f.input :is_all_cloud, as: :boolean, checked_value: true, unchecked_value: false

  .box-footer
    button.btn.btn-primary type="submit" data-disable-with='Please wait...' Submit
