- if Rails.cache.read('status')
  section
    pre = Rails.cache.read('status')
    - Rails.cache.write('status', nil)
section.content-header
  h1 Cloud Server
section.content.container-fluid
  .row
    .col-md-12
      .box.box-info
        .box-header.with-border
          h2.box-title Servers
          .box-tools.pull-right
            button.btn.btn-box-tool data-widget="collapse" type="button"
              i.fa.fa-minus
            / button.btn.btn-box-tool data-widget="remove" type="button"
              i.fa.fa-times

        .box-body
          .table-responsive
            table#server-list.table.no-margin.table.table-bordered.table-striped
              thead
                tr
                  th Server ID
                  th Name
                  th Client Image
                  th DNS
                  th Action
              tbody
                - @servers.each do |server|
                  tr
                    td = server.id
                    td = server.name
                    td = image_tag server.client_image, height: '100', width: '100' unless server.client_image.blank?
                    td = link_to server.dns, "http://#{server.dns}", target: '_blank'
                    td
                      - unless server.branch == 'development' || server.branch == 'master'
                        = link_to deploy_server_path(server.id, 'backend'), method: :post, class: 'btn btn-danger btn-sm'
                          i.fa.fa-upload
                          | &nbsp;Backend
                        | &nbsp;
                      = link_to "#", :onclick => "window.open('http://#{server.api_url}')", class: 'btn btn-success btn-sm btn-flat', title: 'Monitor'
                        i.fa.fa-area-chart
                      | &nbsp;
                      = link_to expiry_date_server_path(server.id), class: 'btn btn-warning btn-sm btn-flat', title: '', data: { toggle: 'tooltip', placement: 'top', original_title: 'Set Expire Date' }
                        i.fa.fa-calendar
                      | &nbsp;

                      - unless server.branch == 'development' || server.branch == 'master'
                        = link_to restart_delayed_job_server_path(server.id), class: 'btn btn-success btn-sm btn-flat', title: 'Restart Delayed Job', method: :post
                          i.fa.fa-refresh
                        | &nbsp;
                        = link_to delayed_job_server_path(server.id, 'stop'), class: 'btn btn-danger btn-sm btn-flat', title: 'Stop Delayed Job', method: :post
                          i.fa.fa-refresh
                        | &nbsp;
                      = link_to edit_server_path(server.id), class: 'btn btn-info btn-sm btn-flat', title: 'Edit'
                        i.fa.fa-pencil
                      | &nbsp;
                      = button_to server_path(server.id), class: 'btn btn-danger btn-sm btn-flat', data: {confirm: 'Are you sure?'}, method: :delete, title: 'Remove'
                        i.fa.fa-trash
                      | &nbsp;
                      = link_to "https://#{server.api_url}/delayed_job", target: '_blank', class: 'btn btn-info btn-sm btn-flat', title: 'Delayed Job Page'
                        i.fa.fa-external-link
                      | &nbsp;
                      = link_to "http://#{server.api_url}/super_admin", target: '_blank', class: 'btn btn-default btn-sm btn-flat', title: 'Superadmin Page'
                        i.fa.fa-user-secret
                      | &nbsp;
                      = link_to "#", :onclick => "window.open('chrome-extension://iodihamcpbpeioajjeobimgagajmlibd/html/nassh.html##{server.username}@#{server.dns}:#{server.port}', 'mywindow', 'width=800,height=500,toolbar=no,location=no,directories=no,statu s=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')", class: 'btn btn-default btn-sm btn-flat', title: '', data: { toggle: 'tooltip', placement: 'top', original_title: 'SSH Window' }
                        i.fa.fa-server

        .box-footer.clearfix
          = link_to 'New Server', new_server_path, class: 'btn btn-sm btn-info btn-flat pull-left'
