section.content-header
  h1 Config Server
section.content.container-fluid
  .row
    .col-lg-3.col-xs-6
      .small-box.bg-red
        .inner
          h3 v2
          p BACKEND
        .icon
          i.ion.ion-cloud
        = link_to deploy_server_path(@server, 'backend'), method: :post, class: 'small-box-footer'
          | UPDATE&nbsp;
          i.fa.fa-upload
    .col-lg-3.col-xs-6
      .small-box.bg-yellow
        .inner
          h3 v1
          p MANAGER
        .icon
          i.ion.ion-pie-graph
        = link_to deploy_server_path(@server, 'manager'), method: :post, class: 'small-box-footer'
          | UPDATE&nbsp;
          i.fa.fa-upload
    .col-lg-3.col-xs-6
      .small-box.bg-green
        .inner
          h3 v1
          p POS
        .icon
          i.ion.ion-cash
        = link_to deploy_server_path(@server, 'pos'), method: :post, class: 'small-box-footer'
          | UPDATE&nbsp;
          i.fa.fa-upload
    .col-lg-3.col-xs-6
      .small-box.bg-aqua
        .inner
          h3 v1
          p KITCHEN
        .icon
          i.ion.ion-spoon
        = link_to deploy_server_path(@server, 'kitchen'), method: :post, class: 'small-box-footer'
          | UPDATE&nbsp;
          i.fa.fa-upload
