.row
  .col-md-12
    .box.box-primary
      .box-header.with-border
        h3.box-title Set Server Expiry Date

      .row.info
        .col-md-2 Company Name:
        .col-md-10
          b = @data['company']['name']
      .row.info
        .col-md-2 First transaction at:
        .col-md-10
          b = @data['company']['first_transaction_at'] ? @data['company']['first_transaction_at'].to_datetime.strftime('%d %B %Y, %H:%M') : 'No Data'
      .row.info
        .col-md-2 Contract Until:
        .col-md-10
          b = @data['company']['expires'] ? @data['company']['expires'].to_datetime.strftime('%d %B %Y, %H:%M') : 'No Data'
      .row.info
        .col-md-2 Last paid at:
        .col-md-10
          b = @data['company']['last_paid_at'] ? @data['company']['last_paid_at'].to_datetime.strftime('%d %B %Y, %H:%M') : 'No Data'
      = simple_form_for(:company, url: expiry_date_server_path(@server)) do |f|
        .box-body
          = f.input :expires, as: :date, default: @data['company']['expires'].try(:to_date), label: 'Contract Until'
          
        .box-footer
          button.btn.btn-primary type="submit" data-disable-with='Please wait...' Submit set expiry date

  .col-md-12
    .box.box-primary
      .box-header.with-border
        h3.box-title Set Payment Info
      = simple_form_for(@server) do |f|
        .box-body
          = f.input :payment_date, as: :date
          = f.input :is_paid, as: :radio_buttons
        .box-footer
          button.btn.btn-primary type="submit" data-disable-with='Please wait...' Submit payment info
         
    
