- if Rails.cache.read('status')
  section
    pre = Rails.cache.read('status')
    - Rails.cache.write('status', nil)
section.content-header
  h1 Dashboard
  br
  - if current_user.role == 'admin'
    col-md-3
    .box.box-primary.box-solid
      .box-header.with-border
        h3.box-title
          | Import File
        .box-tools.pull-right
          button.btn.btn-box-tool[type="button" data-widget="collapse"]
            i.fa.fa-plus
      .box-body[style="display: none;"]
        |
        = form_tag import_servers_path, multipart: true do 
          = file_field_tag :file
          br
          .pull-right
            = submit_tag "Import", class: "btn btn-sm btn-primary btn-flat"
section.content.container-fluid
  .row
    .col-md-12
      .box.box-info
        .box-header.with-border
          h2.box-title Servers
          .box-tools.pull-right
            button.btn.btn-box-tool data-widget="collapse" type="button"
              i.fa.fa-minus
            / button.btn.btn-box-tool data-widget="remove" type="button"
              i.fa.fa-times

        .box-body
          .table-responsive
            table#server-list.table.no-margin.table.table-bordered.table-striped
              thead
                tr
                  th Server ID
                  th Client Image
                  th Name
                  th DNS
                  th Status
                  th Action
              tbody
                - @servers.each do |server|
                  tr
                    td = link_to server.id, server_path(server.id)
                    - if server.client_image.present?
                      td = image_tag server.client_image, height: '100', width: '100' unless server.client_image.blank?
                    - else
                      td = image_tag '/assets/default.png', height: '100', width: '100'
                    td = server.name
                    td = link_to server.dns, "http://#{server.dns}", target: '_blank'
                    td
                      - if server.is_paid?
                        span.label.label-success Sudah Bayar
                      - else 
                        span.label.label-warning Belum Bayar
                    td 
                      / - if server.branch == 'master' || current_user.role == 'admin'
                      /   = link_to deploy_server_path(server.id, 'backend'), method: :post, class: 'btn btn-primary btn-sm', title: '', data: { toggle: 'tooltip', placement: 'top', original_title: 'Update Server' }
                      /     i.fa.fa-upload
                      /     | &nbsp;Backend
                      /   | &nbsp;
                      / = link_to restart_delayed_job_server_path(server.id), class: 'btn btn-default btn-sm btn-flat', title: '', method: :post, data: { toggle: 'tooltip', placement: 'top', original_title: 'Restart Delayed Job' }
                      /   i.fa.fa-refresh
                      / | &nbsp;
                      / = link_to restart_puma_server_path(server.id), class: 'btn btn-default btn-sm btn-flat', title: '', method: :post, data: { toggle: 'tooltip', placement: 'top', original_title: 'Restart Puma' }
                      /   i.fa.fa-snowflake-o
                      / | &nbsp;
                        
                      = link_to "#", :onclick => "window.open('http://#{server.api_url}')", class: 'btn btn-success btn-sm btn-flat', title: '', data: { toggle: 'tooltip', placement: 'top', original_title: 'Monitor' }
                        i.fa.fa-area-chart
                      | &nbsp;
                      = link_to expiry_date_server_path(server.id), class: 'btn btn-warning btn-sm btn-flat', title: '', data: { toggle: 'tooltip', placement: 'top', original_title: 'Set Expire Date' }
                        i.fa.fa-calendar
                      | &nbsp;
                      - if server.branch == 'development' || current_user.role == 'admin'
                        <!-- = link_to delayed_job_server_path(server.id, 'stop'), class: 'btn btn-danger btn-sm btn-flat', title: 'Stop Delayed Job', method: :post
                          i.fa.fa-refresh
                        | &nbsp; -->
                      - if current_user.role == 'admin'
                      = link_to edit_server_path(server.id), class: 'btn btn-info btn-sm btn-flat', title: '', data: { toggle: 'tooltip', placement: 'top', original_title: 'Edit Server' }
                        i.fa.fa-pencil
                      | &nbsp;
                      //= link_to "http://#{server.api_url}/delayed_job", target: '_blank', class: 'btn btn-info //btn-sm btn-flat', title: '', data: { toggle: 'tooltip', placement: 'top', original_title: 'Delayed Job Page' }
                        //i.fa.fa-external-link
                      //
                      //| &nbsp;
                      = link_to "http://#{server.api_url_super_admin}/super_admin", target: '_blank', class: 'btn btn-default btn-sm btn-flat', title: '', data: { toggle: 'tooltip', placement: 'top', original_title: 'Superadmin Page' }
                        i.fa.fa-user-secret
                      | &nbsp;
                      = link_to "#", :onclick => "window.open('chrome-extension://iodihamcpbpeioajjeobimgagajmlibd/html/nassh.html##{server.username}@#{server.dns}:#{server.port}', 'mywindow', 'width=800,height=500,toolbar=no,location=no,directories=no,statu s=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')", class: 'btn btn-default btn-sm btn-flat', title: '', data: { toggle: 'tooltip', placement: 'top', original_title: 'SSH Window' }
                        i.fa.fa-server 
                      | &nbsp;
                      - if current_user.role == 'admin'
                        = button_to server_path(server.id), class: 'btn btn-danger btn-sm btn-flat', method: :delete, data: {confirm: 'Are you sure?', commit: 'Sure!'}
                          i.fa.fa-trash
                        | &nbsp;

        .box-footer.clearfix
          = link_to 'New Server', new_server_path, class: 'btn btn-sm btn-info btn-flat pull-left'
          | &nbsp;
          - if current_user.role == 'admin'
            - if @servers.present?
              = link_to "Reset All Paid To False", reset_all_paid_servers_path,  data: { confirm: 'Are you sure to reset all paid to false?' }, class: 'btn btn-sm btn-default btn-flat'
              | &nbsp;
              = link_to "Export CSV", servers_path(format: 'csv'), class: 'btn btn-sm btn-warning btn-flat'
              | &nbsp;
              = link_to "Export XLSX", servers_path(format: 'xlsx'), class: 'btn btn-sm btn-success btn-flat' 
