section.content-header
  h1 Monitor Server
section.content.container-fluid style='padding: 15px 0px;'
  iframe src="http://#{@server.api_url}" frameborder='0' allowfullscreen='' width='100%' height='800'
