section.content-header
  h1 Access Router
section.content.container-fluid style='padding: 15px 0px;'
  iframe src="http://#{@server.dns}:8283" frameborder='0' allowfullscreen='' width='100%' height='470'
