<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Address Map Route <%= @server.name %></h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
                <% if @server.map_route.present? %>
                    <%= @server.map_route.html_safe %>
                <% else %>
                    <%= render 'shared/404'%>
                <% end %>
            </div>
            <!-- ./box-body -->
          </div>
        </div>

        <div class="col-md-4">
            <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Detail Info <%= @server.name %></h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
                <%= render 'shared/404'%>
            </div>
            <!-- ./box-body -->
          </div>
        </div>
    </div>
</div>

