- if notice
  .alert.alert-info.alert-dismissible
    button.close data-dismiss="alert" aria-hidden="true" ×
    = notice
- if alert
  .alert.alert-danger.alert-dismissible
    button.close data-dismiss="alert" aria-hidden="true" ×
    = alert
