footer.main-footer
  .pull-right.hidden-xs
    b Version&nbsp;
    | 1.0
  strong
    | Copyright &copy; 2018.&nbsp;
    a href="http://eresto.co.id" target="_blank" eResto
  | &nbsp;All rights reserved.
