nav.navbar.navbar-static-top role="navigation"
  a.sidebar-toggle data-toggle="push-menu" href="#" role="button"
    span.sr-only Toggle navigation

  .navbar-custom-menu
    ul.nav.navbar-nav
      li.dropdown.user.user-menu
        a.dropdown-toggle data-toggle="dropdown" href="#"
          = image_tag 'eresto-white.png', class: 'user-image'
          span.hidden-xs = current_user.name
        ul.dropdown-menu
          li.user-header
            = image_tag 'eresto-white.png', class: 'img-circle'
            p
              = current_user.name
              | &nbsp;- Server Admin
              small = "Member since #{current_user.member_since}"
          li.user-footer
            = button_to 'Logout', destroy_user_session_path, class: 'btn btn-default btn-flat btn-block', method: :delete

      / li
      /   a data-toggle="control-sidebar" href="#"
      /     i.fa.fa-gears
