aside.main-sidebar
  section.sidebar
    .user-panel
      .pull-left.image
        = image_tag 'eresto.png', class: 'img-circle'
      .pull-left.info
        p eResto Admin
        a href="#"
          i.fa.fa-circle.text-success
          | Online

    ul.sidebar-menu data-widget="tree"
      li.header style='padding:0px;'
        a href='/dashboard_page/front_page'
            i.fa.fa-dashboard
            | &nbsp; Dashboard Main
        a href='/'
          - unless request.path.eql?('/')
            i.fa.fa-chevron-left
          - if in_server_page?
            = " #{@server.name}"
          - else
            | &nbsp;LOCAL SERVER
      li.header style='padding:0px;'
        a href='/servers/cloud_server'
          - unless request.path.eql?('/servers/cloud_server')
            i.fa.fa-chevron-left
          - if in_cloud_server_page?
            = " #{@server.name}"
          - else
            | &nbsp;CLOUD SERVER
      - if in_server_page?
        //li class=(active?('monitor'))
          //= link_to monitor_server_path(@server.id)
            //i.fa.fa-area-chart
            //span Monitor Server
        //li class=(active?('router'))
          //= link_to router_server_path(@server.id), target: '_blank'
            //i.fa.fa-signal
            //span Access Router
        //li class=(active?('config'))
          //= link_to config_server_path(@server.id)
            //i.fa.fa-cog
            //span Config Server
        li class=(active?('edit'))
          = link_to edit_server_path(@server.id)
            i.fa.fa-edit
            span Edit Server
      li class=(active?('engineer'))
        - if current_user.role == 'admin'
          = link_to engineers_path
            i.fa.fa-users
            span Network Engineer
        = link_to conversations_index_path
            i.fa.fa-comments-o
            span Conversations
        = link_to maintener_guides_index_path
            i.fa.fa-graduation-cap
            span Maintener Guides
        - if current_user.role == 'admin'
          = link_to charges_path
              i.fa.fa-money 
              span Charges
