.login-box
  .login-logo
    a href="/"
      b e
      | Resto

  .login-box-body
    form action="../../index2.html" method="post"
      .form-group.has-feedback
        input.form-control placeholder="Email" type="email"
        span.glyphicon.glyphicon-envelope.form-control-feedback
      .form-group.has-feedback
        input.form-control placeholder="Password" type="password"
        span.glyphicon.glyphicon-lock.form-control-feedback
      .row
        .col-xs-8
          .checkbox.icheck
            label
              input type="checkbox"
              | &nbsp;Remember Me
        .col-xs-4
          button.btn.btn-primary.btn-block.btn-flat type="submit" Sign In
    a href='#' Forgot password
