= simple_form_for(@engineer, url: url) do |f|
  = f.error_notification
  .box-body
    = f.input :name
    = f.input :email
    = f.input :password
    = f.input :user_avatar

  .box-footer
    button.btn.btn-primary type="submit" data-disable-with='Please wait...' Submit
