section.content-header
  h1 Network Engineers
section.content.container-fluid
  .row
    .col-md-12
      .box.box-info
        .box-header.with-border
          h2.box-title Engineers
          .box-tools.pull-right
            button.btn.btn-box-tool data-widget="collapse" type="button"
              i.fa.fa-minus
            / button.btn.btn-box-tool data-widget="remove" type="button"
              i.fa.fa-times

        .box-body
          .table-responsive
            table#engineer-list.table.no-margin.table.table-bordered.table-striped
              thead
                tr
                  th Engineer ID
                  th Engineer Avatar
                  th Name
                  th Role
                  th Action
              tbody
                - @engineers.each do |engineer|
                  tr
                    td = "NG#{engineer[0]}"
                    td = image_tag engineer[1], height: '80', width: '80', class:'img-circle' unless engineer[1].blank?
                    td = engineer[2]
                    td = engineer[3].titleize
                    td
                      = link_to edit_engineer_path(engineer[0]), class: 'btn btn-success btn-sm btn-flat'
                        i.fa.fa-cog
                        | &nbsp;Edit
                      | &nbsp;
                      = button_to engineer_path(engineer[0]), class: 'btn btn-danger btn-sm btn-flat', data: {confirm: 'Are you sure?'}, method: :delete, title: 'Remove'
                        i.fa.fa-trash

        .box-footer.clearfix
          = link_to 'New Engineer', new_engineer_path, class: 'btn btn-sm btn-info btn-flat pull-left'
