<div class="row">
	<div class="col-md-6" style="margin-left: 10px; margin-top: 10px;">
		<div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Latest Members</h3>

              <div class="box-tools pull-right">
                <span class="label label-danger"><%= @users.count %> Members</span>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding" style="">
              <% @users.each do |user| %>
              <ul class="users-list clearfix">
                <li>
                  <!-- <img src="dist/img/user1-128x128.jpg" alt="User Image"> -->
                  <%= image_tag user.user_avatar, height: '100', width: '100' unless user.user_avatar.blank? %>
                  <a class="users-list-name" href="#"><%= user.name %></a>
                  <span class="users-list-date"><%= user.role %></span>
                </li>
              </ul>
              <% end %>
              <!-- /.users-list -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center" style="">
              <a href="javascript:void(0)" class="uppercase">View All Users</a>
            </div>
            <!-- /.box-footer -->
        </div>
	</div>
</div>
