= simple_form_for(@charge) do |f|
  = f.error_notification

  .form-inputs
    = f.association :server
    = f.input :payment_desc
    = f.input :amount
    = f.input :status, collection: Charge.statuses.keys

  .form-actions
    = f.button :submit
