/ h1 Listing charges

/ table
/   thead
/     tr
/       th Server
/       th Payment desc
/       th Amount
/       th Payment type
/       th
/       th
/       th

/   tbody
/     - @charges.each do |charge|
/       tr
/         td = charge.server
/         td = charge.payment_desc
/         td = charge.amount
/         td = charge.payment_type
/         td = link_to "Show", charge
/         td = link_to "Edit", edit_charge_path(charge)
/         td = link_to "Destroy", charge, data: {confirm: "Are you sure?"}, method: :delete

/ br

/ = link_to "New Charge", new_charge_path
section.content-header
  h1 Charges
  .col-md-3.col-sm-6.col-xs-12.pull-right
    .info-box
      span.info-box-icon.bg-aqua
        i.fa.fa-usd
      .info-box-content
        span.info-box-text
          | Total Income
        span.info-box-number
          | 
          h4= number_to_currency(@total_charge, unit: "Rp", precision: 2)
section.content.container-fluid
  .row
    .col-md-12
      .box.box-info
        .box-header.with-border
          h2.box-title Charge Lists
          .box-tools.pull-right
            button.btn.btn-box-tool data-widget="collapse" type="button"
              i.fa.fa-minus
            / button.btn.btn-box-tool data-widget="remove" type="button"
              i.fa.fa-times

        .box-body
          .table-responsive
            table#engineer-list.table.no-margin.table.table-bordered.table-striped
              thead
                tr
                  th Charge ID
                  th Server Name
                  th Payment Description
                  th Amount
                  th Payment Type
                  th Action
              tbody
                - @charges.each do |charge|
                  tr
                    td = "CH-00#{charge.id}"
                    td = charge.server.try(:name)
                    td = charge.payment_desc
                    td = number_to_currency(charge.amount, unit: "Rp", precision: 2)
                    td = charge.status
                    td
                      = link_to edit_charge_path(charge.id), class: 'btn btn-success btn-sm btn-flat', data: { toggle: 'tooltip', placement: 'top', original_title: 'Edit Charge' }
                        i.fa.fa-cog
                        | &nbsp;Edit
                      | &nbsp;
                      = link_to charge_path(charge.id, format: :pdf), class: 'btn btn-info btn-sm btn-flat', target: "_blank", data: { toggle: 'tooltip', placement: 'top', original_title: 'View Invoice' }
                        i.fa.fa-file-pdf-o
                        | &nbsp;Invoice
                      /= button_to charge_path(charge[0]), class: 'btn btn-danger btn-sm btn-flat', data: {confirm: 'Are you sure?'}, method: :delete, title: 'Remove'
                        i.fa.fa-trash

        .box-footer.clearfix
          = link_to 'New Charge', new_charge_path, class: 'btn btn-sm btn-info btn-flat pull-left'
          / .pull-right
          /   strong 
          /     | 
          /     = number_to_currency(@total_charge, unit: "Rp", precision: 2)