p#notice = notice

p
  strong Server:
  = @charge.server.name

p
  strong Payment desc:
  = @charge.payment_desc

p
  strong Amount:
  = @charge.amount

p
  strong Payment type:
  = @charge.status

=> link_to "Edit", edit_charge_path(@charge)
'|
=< link_to "Back", charges_path
'|
=< link_to "View invoice", charge_path(@charge, format: :pdf)

