doctype html
html
  head
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    title eMonitor
    link rel="icon" href="/favicon.png"
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
    link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
    link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"
    link href="/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet"
    link href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet"
    link href="/dist/css/AdminLTE.min.css" rel="stylesheet"
    link href="/dist/css/skins/skin-red.min.css" rel="stylesheet"
    link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet"
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
    css:
      .slimScrollDiv {
        overflow: auto !important;
      }

  body#body.hold-transition.skin-red.sidebar-mini
    .wrapper
      header.main-header
        a.logo href="/"
          span.logo-mini
            b e
          span.logo-lg
            b e
            | Monitor
        = render 'shared/navbar'

      = render 'shared/sidebar'
      .content-wrapper
        = render 'shared/alert'
        = yield

      = render 'shared/footer'
      / = # render 'shared/control_sidebar'

    /! jQuery 3
    = javascript_include_tag 'application'
    script src="/bower_components/jquery/dist/jquery.min.js"
    /! Bootstrap 3.3.7
    script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"
    script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"
    script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"
    script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"
    script src="/dist/js/adminlte.min.js"
