doctype html
html
  head
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    title eResto Monitoring
    link rel="icon" href="/favicon.png"
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"

    link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
    link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"
    link href="/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet"
    link href="/dist/css/AdminLTE.min.css" rel="stylesheet"
    link href="/plugins/iCheck/square/blue.css" rel="stylesheet"
    link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet"

    /! HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    /! WARNING: Respond.js doesn't work if you view the page via file://
    /![if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script

  body.hold-transition.login-page
    = render 'shared/alert'

    = yield

    script src="/bower_components/jquery/dist/jquery.min.js"
    script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"
    script src="/plugins/iCheck/icheck.min.js"

    javascript:
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%'
        });
      });
